header {
    color: yellow;
    padding: 30px 0 8px;
    position: relative;
    font-size: 20px;
    border-bottom: 3px solid #dac285;
  }

ul header {
    color: rgb(235, 184, 45);
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }
  