.theme-light {
    --text-color: rgb(255, 187, 0);
    --color-primary: #0060df;
    --color-secondary: #fbfbfe;
    --color-accent: #fd6f53;
    --font-color: #000000;
    --bg-color : rgb(178, 235, 232);
    --nav-ref-color: rgb(235, 117, 8);
  }
.theme-dark {
    --text-color: rgb(248, 223, 152);
    --color-primary: #17ed90;
    --color-secondary: #243133;
    --color-accent: #12cdea;
    --font-color: #ffffff;
    --bg-color : rgb(36, 73, 129);
    --nav-ref-color: rgb(255, 184, 117);
  }
:root{
  box-sizing: border-box;
}

*,
::before,
::after{
    box-sizing: inherit;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    margin: 0 auto;
    height: 100vh;
}

header,nav{
  grid-column: 1 / 4;
  grid-row: span 1;
}

.page-heading{
  margin: 0;
}

.site-nav{
    display: flex;
    padding: 0.5em;
    padding-left: 0;
    align-items: center;
    list-style-type: none;
}

header > h1{
  animation: color-change 2s infinite;
  text-align: center;
}

.toggle {
  --width: 40px;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height) / 2);

  display: inline-block;
  cursor: pointer;
}

.toggle__input {
  display: none;
}

.toggle__fill {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: #dddddd;
  transition: background 0.2s;
}

.toggle__fill::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: var(--height);
  width: var(--height);
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  transition: transform 0.2s;
}

.toggle__input:checked ~ .toggle__fill {
  background: #009578;
}

.toggle__input:checked ~ .toggle__fill::after {
  transform: translateX(var(--height));
}

main{
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-nav > li{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    margin-top: 0;
}


footer{
    grid-column: 1 / 4;
    background-color: black;
    color: rgb(199, 199, 199);
    display: flex;
    justify-content: center;
}

.site-nav > li > a{
    color: var(--nav-ref-color);
    display: block;
    padding: .5em 1em;
    text-decoration: none;
    transition-property: all;
    transition-duration: 0.5s;
}
.site-nav > li > a:hover{
  background-color: var(--color-primary);
  border-radius: 0.5em;
}


.site-nav > li+li{
    margin-left: 1.5em;
}

.site-nav > .nav-right{
    margin-left: auto;
}

.titile {
    padding : 1.5em;
    background-color: #ffff;
}

.flex{
    display: flex;
}

.flex > * + *{
    margin-top: 0;
    margin-left: 1.5em;
}

.flex-nonexpend-img{
    flex-grow: 0;
}

.primary-button{
    background-color: yellow;
    padding: 1em 3em;
    border: none;
    border-radius: 1em;
    font-size: large;
    color: #380c49;
    font-weight: bold;
    background-image: linear-gradient(180deg,rgb(196, 165, 101),rgb(255, 247, 129),rgb(175, 143, 73));
    text-align: center;
}

section{
    text-align: center;
}

.animated-ref{
    transition-property: all;
    transition-duration: 0.5s;
    margin-top: 1em;
    color: var(--text-color);
    text-decoration: none;
}

.animated-ref:hover{
    background-color: var(--nav-ref-color);
    border-radius: 0.5em;
    padding: 1em 2em;
    text-align: center;
}

.game-logo img{
  display: block;
}

@keyframes color-change {
  0% { color: rgb(255, 238, 0); }
  50% { color: rgb(111, 0, 255); }
  100% { color: rgb(251, 255, 0); }
}