<body>
    <div id="overlay"></div> 
    <div class="container">
        <header>
            <h1 class="page-heading">Alias</h1>
        </header>
        <nav>
            <ul class="site-nav">
                <li class="site-nav__item"><a class="site-nav__ref" href="index.html">Main</a></li>
                <li class="site-nav__item"><a class="site-nav__ref" href="gamerules.html">Game Rules</a></li>
                <li class="site-nav__item site-nav__item-right">
                    <a>Theme</a>
                </li>
                <li class="site-nav__item">
                    <label class="toggle" for="myToggle">
                        <input class="toggle__input" name="" type="checkbox" id="myToggle" onclick="toggleTheme()">
                        <div class="toggle__fill">
                        </div>
                    </label>
                </li>
            </ul>
        </nav>
        <main>
            <figure class="game-logo">
                <img class="flex-nonexpend-img" src="static/alias_img.png" />
                <img class="flex-nonexpend-img" src="static/online_img.png"/>
            </figure> 

            <section >
                <h1>Online version of game
                    <span> Alias Party</span>
                </h1>
                <h2>
                    Created by board game Alias,including items
                    (gameboard,chips,cards with words,sand glasses).
                    Now you can play Alias on any device with browser.
                </h2>
            </section>
            <button id ="play-button" class="primary-button">Play</a>
            <a class="animated-ref" href="gamerules.html">Game Rules</a>
        </main> 
        <footer>
            <p>© 2021 Kirill Akulich</p>
        </footer>
    </div>
</body>