

<main id = 'page-container'>
    <table id = 'word-manage' class = "admin-panel">
        <tr>
            <th><select id = "choose-lang"></select></th>
            <th><select id ="choose-level"></select></th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        <tr>
            <td><input id ="word-mange-add-input" class="underscored" placeholder="New commandName"/></td>
            <td><button id= "word-mange-add-button" class ='update'>Add</button></td>
        </tr>
      </table>
</main>