
        <main id = 'page-container'>
            <figure class="game-logo">
                <img class="flex-nonexpend-img" src="static/alias_img.png" />
                <img class="flex-nonexpend-img" src="static/online_img.png"/>
            </figure> 
            <a href="/game_rules" class="animated-ref">Game rules</a>
            <section>
                <header>Teams</header>
                <ul class="command-list">
                    <li><input class="underscored-input" placeholder="team1"/></li>
                    <li><input class="underscored-input" placeholder="team2"/></li>
                    <li><input class="underscored-input" placeholder="team3"/></li>
                </ul>
            </section>
            <div class="command-control">
                <button class="secondary-button">Add command</button>
                <a class="primary-button" href="gameproc.html">Play</a>
                <a href="gamerules.html">Settings</a>
            </div>
        </main>
