<main id = 'page-container'>
    <header>Result</header>
    <ul class="result-list">
        <li>
            <section>
            <header>Round</header>
                <ul>
                    
                </ul>
            </section>
        </li>
        <li>
            <section>
            <header>Disctionary</header>
            <ul>
            </ul>
            </section>
        </li>
        <section>
        <li>
            <header>Language</header>
            <ul>
            </ul>
        </li>
        </section>
    </ul>
    <button id = "proceed-game" class="primary-button">Next</button>
</main>