<div  id ="modal-window-body" class="modal-dialog">
    <header>Result</header>
    <span id ="command-name"></span>
    <span id ="command-result"></span>
    <ul class="result-list">
        <li>
            <section>
            <header>Guessed Words</header>
                <ul id="guessed-words">
                </ul>
            </section>
        </li>
        <li>
            <section>
            <header>Skipped Words</header>
            <ul id ="skipped-words">
            </ul>
            </section>
        </li>
    </ul>
    </div>

