
        <main id = 'page-container'>
            <figure class="game-logo">
                <img class="flex-nonexpend-img" src="static/alias_img.png" />
                <img class="flex-nonexpend-img" src="static/online_img.png"/>
            </figure> 

            <article >
                <header> An exciting team game for a cheeful company</header>
                <p class="good-rule">The task of each player is to explain as many words as possible to teammates for a limited time</p>
                <p class="forbidden-rule">It is forbidden to use cognate words,to translate from other languages</p>
                <p class="guessed-rule">Each guessed word brigns one point to the team.and for the missed word the team gets a penalty</p>
                <p class="win-rule">The winner is the team that has the necessary number of points</p>
            </article>
            <a href="settings.html" class="primary-button">Play</a>
        </main> 