
        <main>
            <figure class="game-logo">
                <img class="flex-nonexpend-img" src="static/alias_img.png" />
                <img class="flex-nonexpend-img" src="static/online_img.png"/>
            </figure> 

            <section >
                <h1>Online version of game
                    <span> Alias Party</span>
                </h1>
                <h2>
                    Created by board game Alias,including items
                    (gameboard,chips,cards with words,sand glasses).
                    Now you can play Alias on any device with browser.
                </h2>
            </section>
            <a class="primary-button"href="settings.html" >Play</a>
            <a class="animated-ref" href="gamerules.html">Game Rules</a>
        </main> 
