
        <main id = 'page-container'>
            <header>Settings</header>
            <ul class="settings-list">
                <li>
                    <section>
                    <header>Round</header>
                        <ul>
                            <li>
                                <div class="radio-container">
                                    <label class="radio">
                                        <input type="radio" name="duration" value= "60">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label>60 sec</label>
                                </div>
                            </li>
                            <li>
                                <div class="radio-container">
                                <label class="radio">
                                <input type="radio" name="duration" value = "90">
                                <span class="checkmark"></span>
                                </label>
                                <label>90 sec</label>
                                </div>
                        </li>
                            <li>
                                <div class="radio-container">
                                <label class="radio">
                                <input type="radio" name="duration" value ="120">
                                <span class="checkmark"></span>
                            </label><label>120 sec</label>
                            </div>
                        </li>
                        </ul>
                    </section>
                </li>
                <li>
                    <section>
                    <header>Disctionary</header>
                    <ul>
                            <li><div class="radio-container"><input type="radio" name="mode" value ="Easy"><label>Easy</label></div></li>
                            <li><div class="radio-container"><input type="radio" name="mode" value ="Medium"><label>Medium</label></div></li>
                            <li><div class="radio-container"><input type="radio" name="mode" value ="Hard"><label>Hard</label></div></li>
                    </ul>
                    </section>
                </li>
                <section>
                <li>
                    <header>Language</header>
                    <ul>
                        <li><div class="radio-container">
                            <label class="radio">
                            <input type="radio" name="dictionary" value ="Russian">
                            <span class="checkmark"></span>
                        </label><label>Russian</label>
                        </div>
                    </li>
                        <li>
                            <div class="radio-container">
                            <label class="radio">
                            <input type="radio" name="dictionary" value ="English">
                            <span class="checkmark"></span>
                        </label><label>English</label>
                        </div>
                    </li>
                    </ul>
                </li>
                </section>
            </ul>
            <a class="primary-button" href="commands.html">Next</a>
        </main>